*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* light and dark mode support variables */
:root {
    /* gray color  */
    --white: #ffffff;
    --background-white: #fff;
    --body-bg: #eff6ff;
    --black: #000000;
    --btn-gradient:linear-gradient(90deg, var(--brand-500) 0%, var(--brand-blue-500) 100%);
    --body-gradient:linear-gradient(135deg, #F8FAFC 0%, #EFF6FF 100%);
    --bg-1: #f8fafc;
    --Gray-25: #FCFCFD;
    --Gray-50: #F9FAFB;
    --Gray-100: #F2F4F7;
    --Gray-200: #E5E7EB;
    --Gray-300: #D0D5DD;
    --Gray-400: #98A2B3;
    --Gray-500: #667085;
    --Gray-600: #475467;
    --Gray-700: #344054;
    --Gray-800: #1D2939;
    --Gray-900: #101828;

    /* Brand color  */
    --brand-25: #EBFAFC;
    --brand-50: #DAF7F8;
    --brand-100: #C1F1F4;
    --brand-200: #A3EAEF;
    --brand-300: #78E0E8;
    --brand-400: #5EDAE3;
    --brand-500: #36D1DC;
    --brand-600: #31BEC8;
    --brand-700: #26949C;
    --brand-800: #1E7379;
    --brand-900: #114448;

    /* Brand Blue color  */
    --brand-blue-25: #EFF3FC;
    --brand-blue-50: #E0E8FA;
    --brand-blue-100: #CCD9F7;
    --brand-blue-200: #B4C7F3;
    --brand-blue-300: #91AEEE;
    --brand-blue-400: #7C9EEA;
    --brand-blue-500: #5B86E5;
    --brand-blue-600: #537AD0;
    --brand-blue-700: #415FA3;
    --brand-blue-800: #324A7E;
    --brand-blue-900: #203053;

    /* Error color  */
    --error-25: #FFFBFA;
    --error-50: #FEF3F2;
    --error-100: #FEE4E2;
    --error-200: #FECDCA;
    --error-300: #FDA29B;
    --error-400: #F97066;
    --error-500: #F04438;
    --error-600: #D92D20;
    --error-700: #B42318;
    --error-800: #912018;
    --error-900: #7A271A;

    /* Warning color  */
    --warning-25: #FFFCF3;
    --warning-50: #FFFAEB;
    --warning-100: #FEF0C7;
    --warning-200: #FEDF89;
    --warning-300: #FEC84B;
    --warning-400: #FDB022;
    --warning-500: #F79009;
    --warning-600: #DC6803;
    --warning-700: #B54708;
    --warning-800: #93370D;
    --warning-900: #7A2E0E;

    /* Success color  */
    --success-25: #E4FFEF;
    --success-50: #ECFDF3;
    --success-100: #D1FADF;
    --success-200: #A6F4C5;
    --success-300: #6CE9A6;
    --success-400: #32D583;
    --success-500: #12B76A;
    --success-600: #039855;
    --success-700: #027A48;
    --success-800: #05603A;
    --success-900: #054F31;

    /* Purple color  */
    --purple-100: #F3E8FF;
    --purple-200: #E9D4FF;
    --purple-700: #8200DB;

    /* Info color  */
    --info-50:#E8EFFF;
    --info-200: #93B4FE;
    --info-700:#0F42B3;
    --info-500:#155DFC;

}

body.dark {
    --background-white: #1f1f2e;
    --Gray-900: #F2F4F7;
    --body-gradient: linear-gradient(135deg, #181827 0%, #170220 100%);
    --body-bg: #170220;
    --bg-1: #2b2b39;
    --Gray-25: #2b2b39;
    --Gray-50: #2b2b39;
    --Gray-100: #2b2b39;
    --brand-blue-25:: #292e42;
    --brand-blue-200: #323a59;
    --Gray-200: #30303d;   
    --Gray-400: #4a5770;
    --Gray-500: #667085;
    --Gray-600: #667085;
    --Gray-700: #98A2B3;
    --Gray-800: #8a91a1;

}

body.light {
    --background-white: #ffffff;
}

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: var(--Gray-900);
    font-family: 'Helvetica Neue';
    background: var(--background-white);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--Gray-800);
}
.container{
    width: 100%;
    max-width: 1380px;
    padding: 0 30px;
    margin: 0 auto;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}
h1, h2, h3, h4,h5,h6 , p{
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--Gray-700);
}

.text-small {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.tooltip {
    background: var(--black);
    color: var(--white);
    padding: 4px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-radius: 4px;
}
.tooltip:before {
    content: '';
    position: absolute;
    left: 5px;
    background: var(--black);
    height: 16px;
    width: 9px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    z-index: -1;
}
body .badge-new{
    padding: 5px 10px;
    border-radius: 14px;
    font-weight: 500;
}
.badge-gray{
    background: var(--Gray-100);
    color: var(--Gray-700); 
}
.badge-purple{
    background: var(--purple-100);
    color: var(--purple-700);
}
.badge-blue{
    background: var(--info-50);
    color: var(--info-700);
}
.badge-green{
    background: var(--success-100);
    color: var(--success-700);
}
.badge-red{
    background: var(--error-100);
    color: var(--error-700);
}
.badge-yellow{
    background: var(--warning-100);
    color: var( --warning-700);
}
.status{
    padding: 4px 8px;
    border: 1px solid;
    line-height: 140%;
    border-radius: 80px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.status-h20{
    height: 20px;
}
.status-h24{
    height: 24px;
}
.status-h28{
    height: 28px;
}
.status-gray{
    border-color: var(--Gray-200);
    background: var(--Gray-100);
    color: var(--Gray-700);
}
.status-blue{
    border-color: var(--info-200);
    background: var(--info-50);
    color: var(--info-700);
}
.status-green{
    border-color: var(--success-300);
    background: var(--success-100);
    color: var(--success-700);
}
.status-red{
    border-color: var(--error-200);
    background: var(--error-100);
    color: var(--error-700);
}
.status-yellow{
    border-color: var(--warning-200);
    background: var(--warning-100);
    color: var(--warning-700);
}
.status-white{
    border-color: var(--Gray-200);
    background: var(--background-white);
    color: var(--Gray-700);
}
.status-purple{
    border-color: var(--purple-200);
    background: var(--purple-100);
    color: var(--purple-700);
}
.status-brand-blue{
    border-color: var(--brand-blue-200);
    background: var(--brand-blue-50);
    color: var(--brand-blue-700);
}

@media(max-width:991px){
    h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .tooltip{
        display: none;
    }
}
@media(max-width:767px){
    h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
  }

  h5 {
    font-size: 18px;
    line-height: 26px;
  }

  h6 {
    font-size: 16px;
    line-height: 24px;
  }

}